<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Ingredientes
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Ingrediente</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/ingredients/{$ingredient.idIngredient}" method="post" enctype="multipart/form-data">
          {if="$createError != ''"}
            <div class="alert alert-danger">
              {$createError}
            </div>
          {/if}
          {if="$createSuccess != ''"}
            <div class="alert alert-success">
              {$createSuccess}
            </div>
          {/if}
          <div class="box-body">
            <div class="form-group">
              <div class="form-double">
                <label for="singularName">Singular</label>
                <input type="text" class="form-control" id="singularName" name="singularName" placeholder="Digite o nome do ingrediente" maxlength="50" value="{$ingredient.singularName}">
              </div>
              <div class="form-double">
                <label for="pluralName">Plural</label>
                <input type="text" class="form-control" id="pluralName" name="pluralName" placeholder="Digite o nome do ingrediente" maxlength="50" value="{$ingredient.pluralName}">
              </div>
            </div>
            <div class="form-group">
              <div class="form-double">
                <label for="description">Descrição</label>
                <textarea placeholder="Escreva algo sobre este ingrediente" class="form-control" id="description" name="description" maxlength="264" style="resize: none;" rows=7>{$ingredient.description}</textarea>
              </div>
              <div class="form-double">
                <label for="active">Ativo</label>
                <input type="text" class="form-control" id="name" name="active" placeholder="Digite o nome do produto" maxlength="50" {if="$ingredient.active == 1"} value="sim" {/if} value="Não" disabled>
              </div>
            </div>
            <div class="form-group">
              <div class="form-double">
                <label for="file">Imagem</label>
                <input type="file" class="form-control" id="file" name="file">
                <div class="form-double">
                  <div class="box box-widget">
                    <div class="box-body">
                      <img class="img-responsive" id="image-preview" src="{$ingredient.pathPhoto}" alt="Photo" style="border:2px solid black; border-radius: 10px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
document.querySelector('#file').addEventListener('change', function(){
  
  var file = new FileReader();

  file.onload = function() {
    
    document.querySelector('#image-preview').src = file.result;

  }

  file.readAsDataURL(this.files[0]);

});
</script>