<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Receitas
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/admin/recipes">Receitas</a></li>
  </ol>
</section>

<!-- Main content -->
  <div class="row">
  <section class="content">
  	<div class="col-md-12">
  		<div class="box box-primary">
            <div class="box-header">
              <a href="/admin/recipes/create" class="btn btn-success">Cadastrar receitas</a>
            </div>
            {if="$createSuccess != ''"}
              <div class="alert alert-success">
                {$createSuccess}
              </div>
            {/if}
            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Nome</th>
                    <th style="width: 200px">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$recipes"}
                  <tr>
                    <td>{$value.idRecipe} </td>
                    <td>{$value.recipeName}</td>
                    <td>
                      <a href="/admin/recipes/{$value.idRecipe}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                      <a href="/admin/recipes/{$value.idRecipe}" class="btn btn-secondary btn-xs"><i class="fa fa-edit"></i> Fotos</a>
                      <a href="/admin/recipes/{$value.idRecipe}/des-active" onclick="return confirm('Deseja realmente desativar esta receita?')" class="btn btn-danger btn-xs"><i class="fa fa-power-off"></i> {if="$value.active == 1"}Desativar{else}Ativar{/if}</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->