

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Usuários
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Usuário</h3>
        </div>
        <!-- /.box-header -->
        {if="$createError != ''"}
          <div class="alert alert-danger">
            {$createError}
          </div>
        {/if}
        {if="$createSuccess != ''"}
          <div class="alert alert-success">
            {$createSuccess}
          </div>
        {/if}
        <!-- form start -->
        <form role="form" action="/admin/difficults/{$difficult.idDifficult}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="difficultLevel">Nome</label>
              <input type="text" class="form-control" id="difficultLevel" name="difficultLevel" placeholder="Digite o nome da categoria" value="{$difficult.difficultLevel}" maxlength="30">
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->