<div class="container-ingredients">
 	<section >
    <div class="recipe-filter">
      <div class="recipeName">
        <select id="select_filter" class="select_filter">
          <option>Mais recente</option>
          <option>Mais novas</option>
          <option>Mais avaliadas</option>
        </select>
      </div>
    </div>
    <div class="recipe-list">
      {loop="$recipes"}        
      <div class="recipe-card recipe-card_{$value.idRecipe}"  id="recipe-card">
        <form role="form" action="/recipe-detail/{$value.idRecipe}" method="get">
          <div id="keepItTogether">
            <div class="recipe-thumb">
              <img {if="$value.pathId != ''"} src="/res/site/img/recipe_thumbs/{$value.pathId}.jpg" {else} src="/res/site/img/defaults/no-recipe_image.jpg" {/if} alt="Foto de receitas" class="border-recipe">
            </div>
            <div class="recipeTitle">
              <a class="recipePrincipalText">{$value.recipeName}</a>
            </div>
            <div class="recipeDescription">
              <div class="firstRow">
                <div class="preparationTime">
                  <a><a class="recipePrincipalText"><i class="fas fa-stopwatch"></i> Tempo:</a><br> {$value.preparationTime}h</a>
                </div>
                <div class="recipeYield">
                  <a><a class="recipePrincipalText"><i class="fas fa-cookie-bite"></i> Rende:</a><br>{$value.amount} {if="$value.amount > 1"} {$value.pluralName} {else} {$value.singularName} {/if}</a>
                </div>
              </div>
              <div class="secondRow">
                <div class="recipeDifficult">
                  <a><a class="recipePrincipalText"><i class="fas fa-layer-group"></i> Nível:</a><br> {$value.difficultLevel}</a>
                </div>
                <div class="recipeAuthor">
                  <a><a class="recipePrincipalText"><i class="fas fa-user"></i> Autor:</a><br>{$value.login}</a>
                </div>
              </div>
            </div>
            <input type="submit" name="openButton_{$value.idRecipe}" id="openButton_{$value.idRecipe}" style="display:none">
          </div>
        </form>
      </div>
      {/loop}
    </div>
    </section>
</div>